# Build output
/target
**/*.rs.bk

# aur shit
PKGBUILD
.SRCINFO

# Release tarballs
*.tar.gz
*.tar.xz
*.tar.zst

# useless stuff
*.lock
src/
pkg/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
